<div class="wrapper">
    <div class="sidebar" data-color="orange">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">{{mainState.state.title}}</h5>
                                <h6 class="title">{{mainState.state.subtitle}}</h6>
                            </div>
                            <div class="card-body">
                                <custom-notification [data]="mainState.state.notification"></custom-notification>

                                <router-outlet></router-outlet>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<custom-loading></custom-loading>
