.main-panel .main-content {
    margin-top: 80px;
    position: relative;
    z-index: 9999;
}

.navbar.navbar-transparent {
    color: black;
}

.shadow-container {
    border: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.125rem;
    transition: all 150ms linear;
    font-size: 14px;
    margin: 20px;
}