<form *ngIf="form" [formGroup]="form">
  <div class="row">
    <div class="col-md-4 pr-1">
      <div class="form-group">
        <label>Serial Number</label>
        <input type="text" class="form-control" placeholder="Serial Number" formControlName="serialNumber"
          (change)="OnChangeEvents('serialNumber')">
        <custom-error-message [validation]="validations.serialNumber"></custom-error-message>
      </div>
    </div>
    <div class="col-md-4 pr-1">
      <div class="form-group">
        <label>Human Readable</label>
        <input type="text" class="form-control" placeholder="Human Readable" formControlName="humanReadable"
          (change)="OnChangeEvents('humanReadable')">
        <custom-error-message [validation]="validations.humanReadable"></custom-error-message>

      </div>
    </div>
    <div class="col-md-4 pr-1">
      <div class="form-group">
        <label>IPv4 Address</label>
        <input name="IPv4Address" id="IPv4Address" type="text" class="form-control" placeholder="IPv4 Address"
          formControlName="IPv4Address" (change)="OnChangeEvents('IPv4Address')">
        <custom-error-message [validation]="validations.IPv4Address"></custom-error-message>
      </div>
    </div>
  </div>
  <h6><button class="btn btn-secondary btn" (click)="addDevice()" [disabled]="form.controls['device']">Add
      New Device</button></h6>

  <div class="row" *ngIf="form.controls['device']" formGroupName="device" style="border-bottom: #8080806e 1px solid;
  margin: 20px;">
    <div class="col-md-3 pr-1">
      <div class="form-group">
        <label>UID</label>
        <input name="UID" id="UID" type="text" class="form-control" placeholder="UID" formControlName="UID" (change)="checkExistingUID()">
        <custom-error-message [validation]="validations['device.UID']"></custom-error-message>

      </div>
    </div>
    <div class="col-md-3 pr-1">
      <div class="form-group">
        <label>Vendor</label>
        <input name="vendor" id="vendor" type="text" class="form-control" placeholder="vendor" formControlName="vendor" (change)="OnChangeEvents('device.vendor')">
        <custom-error-message [validation]="validations['device.vendor']"></custom-error-message>
      </div>
    </div>
    <div class="col-md-3 pr-1">
      <div class="form-group">
        <label>Status</label>
        <select name="status" id="status" type="text" class="form-control" formControlName="status" (change)="OnChangeEvents('device.status')">
          <option value="0">Offline</option>
          <option value="1">Online</option>
        </select> 
        <custom-error-message [validation]="validations['device.status']"></custom-error-message>

      </div>
    </div>

    <div class="col-md-3 pr-1">
      <button class="btn btn-neutral btn-icon btn-round btn-lg" [disabled]="form.controls['device'].invalid"><i _ngcontent-c10="" class="now-ui-icons ui-1_check"
          (click)="saveDevice()" ></i></button>
      <button class="btn btn-neutral btn-icon btn-round btn-lg"><i _ngcontent-c10=""
          class="now-ui-icons ui-1_simple-remove" (click)="cancel()"></i></button>
    </div>
  </div>
  <div class="table-responsive" *ngIf="devices.length">
    <table class="table">
      <thead class=" text-primary">
        <th>
          UID
        </th>
        <th>
          Vendor
        </th>
        <th>
          Status
        </th>
        <th>
          Date Created
        </th>
        <th>
          Remove
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let item of devices">
          <td>
            {{item.UID}}
          </td>
          <td>
            {{item.vendor}}
          </td>
          <td>
            {{getStatusName(item.status)}}
          </td>
          <td>
            {{item.dateCreated | date: 'short'}}
          </td>
          <td>
            <button class="btn btn-neutral btn-icon btn-round btn-lg"><i _ngcontent-c10=""
                class="now-ui-icons ui-1_simple-delete" (click)="confirm(item.UID)"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="button-container">
        <button class="btn btn-primary btn" *ngIf="!editmode" (click)="save()" [disabled]="form.invalid">Save
        </button>
        <custom-btn-back></custom-btn-back>

      </div>
    </div>
  </div>
</form>

<custom-confirm [display]="openDialog" [title]="'Confirm'" [message]="'Do you want to continue?'"
  (confirm)="removeDevice()"></custom-confirm>