
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-default fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">   
            <li class="nav-item">
              <p>
                <span class="d-md-block">Lissettdm@outlook.es</span>
              </p>
            </li>
          </ul>
        </div>
    </div>
</nav>
