.message{
    border: 0;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: .9rem;
    position: relative;
    font-size: .6rem;

    &.message-danger{
        color: lighten($danger-color, 5%);
    }

    &.message-warning{
        color: lighten($warning-color, 5%);
    }

    &.message-info{
        color: lighten($info-color, 5%);
    }

    
}
