<div class="button-container">
  <button class="btn btn-primary btn" (click)="add()">Add New
  </button>
</div>
<div class="table-responsive">
  <table class="table">
    <thead class=" text-primary">
      <th>
        Serial Number
      </th>
      <th>
        Human Readable
      </th>
      <th>
        IPv4 Address
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          {{item.serialNumber}}
        </td>
        <td>
          {{item.humanReadable}}
        </td>
        <td>
          {{item.IPv4Address}}
        </td>
        <td>
          <button class="btn btn-neutral btn-icon btn-round btn-lg"><i _ngcontent-c10=""
              class="now-ui-icons ui-1_zoom-bold" (click)="edit(item.serialNumber)"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>