<div class="alert {{notificationTypes[data.type]}}" *ngIf="data">
  <button type="button" aria-hidden="true" class="close">
    <i class="now-ui-icons ui-1_simple-remove" (click)="close()"></i>
  </button>
  <span>
    {{data.message}}</span>
</div>