<div class="modal" tabindex="-1" role="dialog" *ngIf="display">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onConfirm()">Yes, Do it</button>
          <button type="button" class="btn btn-default"  (click)="onCancel()">No</button>
        </div>
      </div>
    </div>
  </div>